<div class="row">
  <div class="col-md-4">
    <h3>Create new posts</h3>
    <p>When you are logged in, you may create new posts to dicuss with your friends.</p>
  </div>
  <div class="col-md-4">
    <h3>Comment on topics</h3>
    <p>If you have an opinion, comment on a post!</p>
  </div>
  <div class="col-md-4">
    <h3>Many topics to choose from</h3>
    <p>Topics are being added every day.</p>
  </div>
</div>