<h4><%= link_to "Create a New Post", controller: "posts", action: "new" %></h2>

<h1>All Posts</h1>
<p> </p>

<% @posts.each do |post| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
      <%= link_to post.title, post %>
      </h4>
    </div>
  </div>
<% end %>