// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.social-btn {

  display:inline;
  height:42px;
  width:62px;
  background: none;
  border-style: solid;
  color: black;
  text-align: center;
  font: helvetica; 
}*/

.col-md-4 p {
  font-size: 12;
}